In [1]:
import pandas as pd

In [2]:
# Create dataframe
op_df = pd.read_csv("data//opioids.csv")
op_df.head()

                        Drug Name                    Generic Name
0                         ABSTRAL                FENTANYL CITRATE
1           ACETAMINOPHEN-CODEINE      ACETAMINOPHEN WITH CODEINE
2                           ACTIQ                FENTANYL CITRATE
3             ASCOMP WITH CODEINE  CODEINE/BUTALBITAL/ASA/CAFFEIN
4  ASPIRIN-CAFFEINE-DIHYDROCODEIN  DIHYDROCODEINE/ASPIRIN/CAFFEIN

In [3]:
# Create dataframe
ods_df = pd.read_csv("data//overdoses.csv")
ods_df.head()

        State  Population Deaths Abbrev
0     Alabama   4,833,722    723     AL
1      Alaska     735,132    124     AK
2     Arizona   6,626,624  1,211     AZ
3    Arkansas   2,959,373    356     AR
4  California  38,332,521  4,521     CA

In [4]:
# Create dataframe
pre_df = pd.read_csv("data//prescriber-info.csv")
pre_df.head()

,NPI,Gender,State,Credentials,Specialty,ABILIFY,ACETAMINOPHEN.CODEINE,ACYCLOVIR,ADVAIR.DISKUS,AGGRENOX,...,VERAPAMIL.ER,VESICARE,VOLTAREN,VYTORIN,WARFARIN.SODIUM,XARELTO,ZETIA,ZIPRASIDONE.HCL,ZOLPIDEM.TARTRATE,Opioid.Prescriber
0,1710982582,M,TX,DDS,Dentist,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1245278100,F,AL,MD,General Surgery,0,0,0,0,0,...,0,0,0,0,0,0,0,0,35,1
2,1427182161,F,NY,M.D.,General Practice,0,0,0,0,0,...,0,0,0,0,0,0,0,0,25,0
3,1669567541,M,AZ,MD,Internal Medicine,0,43,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1679650949,M,NV,M.D.,Hematology/Oncology,0,0,0,0,0,...,0,0,0,0,17,28,0,0,0,1